<!DOCTYPE html>
<html lang="ru" class="h-100" xmlns:th="http://www.thymeleaf.org">
<head>
    <title> Админка </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">
    <div class="container">
        <div class="row">
            <nav id="navbar-example2" class="navbar bg-body-tertiary px-3 mb-3">
                <a class="navbar-brand" href="#">Admin</a>
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a class="nav-link" href="news-list.html">Новости</a> <!-- Замените на нужный путь -->
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="offer-list.html">Акции</a> <!-- Замените на нужный путь -->
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="doctor-list.html">Врачи</a> <!-- Замените на нужный путь -->
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</main>
</body>
</html>
